/* Global baggrundsfarve for hele siden */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    color: #fff;
}
/* For Google Chrome og andre WebKit-browsere */
::-webkit-scrollbar {
    width: 12px; /* Ændrer bredden på scrollbar */
}

::-webkit-scrollbar-track {
    background: #2b2b2b; /* Farve for scrollbarrens baggrund */
}

::-webkit-scrollbar-thumb {
    background-color: #ff8c00; /* Scrollbar-farve */
    border-radius: 10px; /* Runder kanterne på scrollbaren */
    border: 2px solid #2b2b2b; /* Matcher farven på baggrunden */
}

/* For Mozilla Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ff8c00 #2b2b2b;
}

/* Topbar styles */
.topbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.topbar .logo a {
    color: #f39c12;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ddd;
}

.nav-links a.active {
    color: #f39c12;
}

/* Kontakt sektion styling */
#contact {
    margin-top: 20px;
    padding: 30px;
    background-color: #525252; /* Mørk baggrund for kontaktformularen */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-align: left;
    max-width: 600px;
    margin: 20px auto; /* Center sektionen */
}

/* Styling for kontaktformular */
#contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Styling for labels */
#contact label {
    margin-bottom: 5px;
    color: #f0f0f0;
}

/* Input felter styling */
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 10px;
    background-color: #909090;
    border: 1px solid #444;
    border-radius: 4px;
    color: #fff;
}

/* Specific styling for beskedfeltet */
#contact textarea {
    height: 100px;
}

/* Send knap styling */
#contact button {
    align-self: flex-start;
    background-color: #0b2fbb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact button:hover {
    background-color: #f39c12;
}
