/* Global baggrundsfarve for hele siden */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    color: #fff;
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px; /* Adjusted padding for better spacing */
    background-color: #2c2c2c;
    border-bottom: 2px solid #444; /* Add a border to differentiate from the rest of the page */
}


.topbar .logo a {
    color: #fff; /* Ændret til hvid */
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ddd; /* Standard farve for linkene */
}

.nav-links a.active {
    color: #f39c12; /* Farve for den aktive side */
}

/* Kontakt sektion styling */
#contact {
    margin-top: 20px;
    padding: 30px;
    background-color: #525252; /* Mørk baggrund for kontaktformularen */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-align: left;
    max-width: 600px;
    margin: 20px auto; /* Center sektionen */
}

/* Styling for kontaktformular */
#contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Styling for labels */
#contact label {
    margin-bottom: 5px;
    color: #f0f0f0;
}

/* Input felter styling */
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 10px;
    background-color: #909090;
    border: 1px solid #444;
    border-radius: 4px;
    color: #fff;
}

/* Specific styling for beskedfeltet */
#contact textarea {
    height: 100px;
}

/* Send knap styling */
#contact button {
    align-self: flex-start;
    background-color: #0b2fbb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact button:hover {
    background-color: #f39c12;
}
